RHT_OCP4_MASTER_API=https://api.ocp-zwgexmlnogwqwxw200229.do280.prod.nextcle.com:6443
RHT_OCP4_CLUSTER_ID=c41bca4b-6d0a-4e53-a7a8-c883b0b890c5
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-zwgexmlnogwqwxw200229.do280.prod.nextcle.com
RHT_OCP4_KUBEADM_PASSWD=TdpQo-VpL9V-V5hq9-UyRUd
RHT_OCP4_USER_PASSWD=10d770eb0c9696a2e137f21a9dea689d
