RHT_OCP4_MASTER_API=https://api.ocp-ejvmdxegqnglzzl200228.do280.prod.nextcle.com:6443
RHT_OCP4_CLUSTER_ID=564c88be-ea35-4e52-a818-d62c52cd86ae
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-ejvmdxegqnglzzl200228.do280.prod.nextcle.com
RHT_OCP4_KUBEADM_PASSWD=Pck8G-QS57m-uu8te-Qy7SU
RHT_OCP4_USER_PASSWD=fba188c1bd88b5054ae5641d5f25abb8
