RHT_OCP4_MASTER_API=https://api.ocp-jvyqlmdygxxvlvo200220.do280.prod.nextcle.com:6443
RHT_OCP4_CLUSTER_ID=3085ddf2-3b0b-45f2-8d40-b0a0992dd248
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-jvyqlmdygxxvlvo200220.do280.prod.nextcle.com
RHT_OCP4_KUBEADM_PASSWD=B5aPb-TDpK5-LpTFD-Bs8Dc
RHT_OCP4_USER_PASSWD=63d166ed8b7e61c08f52a05b3a22816b
